{% extends "tardis_portal/portal_template.html" %}
{% load static from staticfiles %}
{% load url from future %}

{% block script %}

{% endblock script %}

{% block content %}
<div class="page-header">
  <h2>Bioscience Data Platform: TARDIS In The Cloud</h2>
  <h3>Powered By <a href="http://www.github.com/mytardis/mytardis">MyTardis</a></h3>
  <img src="{% static 'images/bdp-90-trans.png' %}"/>
</div>

<p>
{% if is_authenticated %}
  Please go to
  <a href="{% url 'tardis.tardis_portal.views.experiment_index' %}">Data</a>
  to review your experiment data.
{% else %}
  Please <a href="{% url 'tardis.tardis_portal.views.login' %}">login</a>
  to see your experiment data.
{% endif %}
</p>
{% endblock content %}
