{% extends "tardis_portal/portal_template.html" %}
{% load static from staticfiles %}
{% load url from future %}

{% block script %}

{% endblock script %}

{% block content %}
<div class="page-header">
  <h2>Bioscience Data Platform: TARDIS In The Cloud</h2>
  <h3>Powered By <a href="http://www.github.com/mytardis/mytardis">MyTardis</a></h3>
  <img src="{% static 'images/templogo90_prototype.png' %}"/>
</div>

<h4>
    This is a public prototype, demonstrating future functionality of the Bioscience Data Platform.
</h4>

<br/>

<h4>
    <a href="https://github.com/bioscience-data-platform/bdp-wiki/wiki/Prototype-Guide" target="_blank">Prototype Guide</a>
</h4>

</br>

<h4>
    For more information about the Bioscience Data Platform, visit the <a href="http://bioscience-data-platform.posterous.com" target="_blank">Project Blog</a>.
</h4>

</br>

<p>
{% if is_authenticated %}
  Please go to
  <a href="{% url 'tardis.tardis_portal.views.experiment_index' %}">Data</a>
  to review your experiment data.
{% else %}
  Please <a href="{% url 'tardis.tardis_portal.views.login' %}">login</a>
  to see your experiment data.
{% endif %}
</p>
{% endblock content %}
