/* Inset brand in nav bar */
.brand.brand-inverse {
  color: rgba(0,0,0,0.4);
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
}

/* Centered title */
.navbar .center-title {
  position: absolute;
  left: 50%;
  width: 140px;
  margin-left: -70px;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

/* Clickable Experiments & Datasets */
.clickable-tile {
	cursor: pointer;
}

.abstract {
  text-overflow: ellipsis;
}

.abstract-clickable {
  overflow: hidden;
  text-overflow: ellipsis;
}

#abstract-toggle {
    margin-bottom: -7px;
    display: none;
}

.truncated-text {
	white-space: nowrap;
}

/* Elements that just don't work without JS */
.no-js .js-required {
	display: none;
}

/* Download checkboxes for datasets */
.dataset-download-box {
	display: none;
}

form .dataset-download-box {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.copylink {
    font-weight:bold;
    padding: 7px;
    margin: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    word-wrap: break-word;
}

.download-selected {
    font-weight: bold;
    margin: 3% 0 2% 0;
}

/*override for bootstrap nav pills*/
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #ddf7b0;
    font-weight: bold;
    color: #3e5c49;
}

.dataset-link {
    font-weight: bold;
    font-size: 110%;
}

.datafile_name {
    font-size: 110%;
    font-weight: bold;
}

.info-box {
    border: 1px solid #DDDDDD;
    padding: 5px 10px 5px 10px;
    margin: 5px 20px 25px 10px;
}

.file-select {
    background-color: #D3DFE6;
}

.table tbody tr.file-select:hover td, .table tbody tr.file-select:hover th {
    background-color: #D3DFE6;
}

.pagination {
    height: auto;
}

.parameter_name {
    width: 203px;
}

.parameter_value {
    width: 400px;
}

.brand a:hover {
    color: white;
    text-decoration: none;
}

.brand a {
  color: #d6d69f;
}

.navbar {
    border-top: 2px solid #e6e87b;
}

.navbar-inner {
    background-image: -webkit-linear-gradient(top, #a2a350, #304f3c);
    background-image: -o-linear-gradient(top, #a2a350, #304f3c);
    background-image: linear-gradient(top, #a2a350, #304f3c);
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    color: white;
    text-decoration: none;
    background-color: #304f3c;
}

.navbar .nav > li > a {
  color: #d6d69f;
}

.btn-info {
  background-color: #a2a350;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a2a350), to(#304f3c));
}

.btn-info:hover {
  background-color: #a2a350;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e87b), to(#a2a350));
}

a {
  color: #3e5c49;
}

.btn-primary {
  background-color: #304f3c;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a2a350), to(#304f3c));
  border-color: #304f3c;
}

.btn-primary:hover {
  background-color: #304f3c;
}

.label-info, .badge-info {
  background-color: #304f3c;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: #304f3c;
}

.alert-info {
  border-color: #a2a350;
  color: #304f3c;
  background-color: #ddf7b0;
}

body {
  background-color: #edfaf2;
}
