<h2>Results of  {{ dataset.description }}</h2>
<p><b>Common run parameters:</b></p>
<table>
<tr><th>F column:</th><td> {{ f_value }}</td></tr>
<tr><th>SIGF column:</th><td> {{ sigf_value }}</td></tr>
<tr><th>Molecular weight:</th><td> {{ mol_weight }}</td></tr>
<tr><th>Number of Molecules in ASU:</th><td> {{ num_in_asym }}</td></tr>
<tr><th>Packing cutoff:</th><td> {{ packing }}</td></tr>
<tr><th>Number of copies to search for:</td></tr> {{ ensemble_number }}</td></tr>
</table>
<p>
{% for result in results %}

<h3>Name: {{ result.name }}</h3>
<p><b>Parameters used:</b></p>
<p>PDB file: {{ pdb_file }}<br />
Space group: {{ spacegroup }}<br />
RMSD: {{ rmsd }}</p>

{% endfor %}
</p>
