
<script type="text/javascript">
$(document).ready(function() {
//    $.get("/apps/mrtardis/jobstatus/{{ experiment_id }}", function(data) {
//	    $(".jobstatus").html(data);
//	});
    {% if untested %}
    $.get("/apps/mrtardis/test_user_setup", function(data) {
	$("#test_user_setup").html(data);
    });
    {% endif %}
    $("a[href=#ajax-goodness]").click(function() {
	$.get("/apps/mrtardis/jobstatus/{{ experiment_id }}", function(data) {
	    $(".jobstatus").html(data);
	});
    });
    $(".startframe").hide();
    $("a[href=#startMR]").click(function() {
	$.ajax({
	    type: "GET",
	    url: "/apps/mrtardis/startMR/{{ experiment_id }}",
	    dataType: "html",
	    success: function(data) {
		$(".startMR").html(data);
		$(".startframe").show();
		$("a[href=#startMR]").hide();
	    }
	});
    });
    $("a[href=#cancelMR]").click(function() {
	$(".startMR").html(" ");
	$(".startframe").hide();
	$("a[href=#startMR]").show();
    });
    $("a[href=#enterParams]").live("click", function() {
	console.log(dataset_id);
	$.ajax({
	    type: "GET",
	    url: "/apps/mrtardis/MRparams/",
	    data: {'dataset_id': dataset_id},
	    dataType: "html",
	    success: function(data) {
		$(".startMR").html(data);
		$(".startframe").show();
	    },
	    error: function(XMLHttpRequest, textStatus, errorThrown) {
		console.log(textStatus);
		console.log(errorThrown);
		console.log(XMLHttpRequest.responseText);
	    }
	});
    });
});


</script>

<p id="test_user_setup">
</p>
<style type='text/css'>
  .startframe {
  border: 1px solid black;
  padding: 0 10px 0 10px;
  }
</style>
<p>
  <a href="#startMR">Start new Molecular Replacement</a>
</p>
<div class="startframe">
  <div class="startMR">

  </div>
  <p style="text-align: right;" >
    <a href="#cancelMR">Cancel</a>
  </p>

</div>

<p>
<a href="#ajax-goodness">Update Jobs</a>
</p>
<div class="jobstatus">
</div>
<p>Update test 2</p>
<form action="http://www.google.com">
<input type="submit" value="Google"/>
</form>
