
<script type="text/javascript">
$(document).ready(function() {
//    $.get("/apps/mrtardis/jobstatus/{{ experiment_id }}", function(data) {
//	    $(".jobstatus").html(data);
//	});
    {% if untested %}
    $.get("/apps/mrtardis/test_user_setup", function(data) {
	$("#test_user_setup").html(data);
    });
    {% endif %}
    $("a[href=#ajax-goodness]").click(function() {
	$.get("/apps/mrtardis/jobstatus/{{ experiment_id }}", function(data) {
	    $(".jobstatus").html(data);
	});
    });
    $(".startframe").hide();
    $("a[href=#startMR]").click(function() {
	$.ajax({
	    type: "GET",
	    url: "/apps/mrtardis/startMR/{{ experiment_id }}",
	    dataType: "html",
	    success: function(data) {
		$(".startMR").html(data);
		$(".startframe").show();
		$("a[href=#startMR]").hide();
	    }
	});
    });
    $("a[href=#cancelMR]").click(function() {
	$(".startMR").html(" ");
	$(".startframe").hide();
	$("a[href=#startMR]").show();
    });
    $(".startMR").live("submitToHPC", function(event, dataset_id, formdata) {
	$.ajax({
	    type: "POST",
	    url: "/apps/mrtardis/MRparams/" + dataset_id + "/",
	    data: formdata,
	    dataType: "html",
	    success: function(data) {
		$(".startMR").html(data);
		$(".startframe").show();
		$.get("/apps/mrtardis/jobstatus/{{ experiment_id }}",
		      function(data) {
			  $(".jobstatus").html(data);
		      });
		console.log("replaced form with new one");
	    },
	    error: function(XMLHttpRequest, textStatus, errorThrown) {
		console.log(textStatus);
		console.log(errorThrown);
		console.log(XMLHttpRequest.responseText);
	    }
	});
    });
    $(".startMR").live("loadNext", function(event, next, dataset_id) {
	console.log("before switch");
	switch(next)
	{
	case "upload":
	    $.ajax({
		type: "GET",
		url: "/apps/mrtardis/upload_files/",
		data: {'dataset_id': dataset_id},
		dataType: "html",
		success: function(data) {
		    $(".startMR").html(data);
		}
	    });
	    break;
	case "enterParams":
	    $.ajax({
		type: "GET",
		url: "/apps/mrtardis/MRparams/" + dataset_id +"/",
		dataType: "html",
		success: function(data) {
		    $(".startMR").html(data);
		    $(".startframe").show();
		},
		error: function(XMLHttpRequest, textStatus, errorThrown) {
		    console.log(textStatus);
		    console.log(errorThrown);
		    console.log(XMLHttpRequest.responseText);
		}
	    });
	    break;
	default:
	    console.error("next event not matched");
	    break;
	}
    });
});


</script>

<p id="test_user_setup">
</p>
<style type='text/css'>
  .startframe {
  border: 1px solid black;
  padding: 0 10px 0 10px;
  }
</style>
<p>
 <b> <a href="#startMR">Start new Molecular Replacement</a></b>
</p>
<div class="startframe">
  <div class="startMR">

  </div>
  <p style="text-align: right;" >
    <a href="#cancelMR">Cancel</a>
  </p>

</div>
<p>
<a href="#ajax-goodness">Update Jobs</a>
</p>
<div class="jobstatus">
</div>
<p>Update test 2</p>
<form action="http://www.google.com">
<input type="submit" value="Google"/>
</form>
