<script type="text/javascript">

    function updateJoblist() {
        $.ajax({
            type: "GET",
            dataType: "html",
            url: "{% url tardis.apps.mrtardis.views.runningJobs experiment_id %}",
            success: function(data) {
                $("#tasklist").html(data);
            },
        });
    }
    $('#jqmAlertLoading').jqm({
	ajax: '',
	target: '',
	overlay: 0,
    });


    $("a.checkjob").bind("click", function(event) {
	event.preventDefault();
	//console.log($(this).attr("id"));
	$('#jqmAlertLoading').jqmShow();

	$.ajax({url:$(this).attr("id"),});
	$("#tabs").tabs('load', $("#tabs").tabs('option', 'selected'));
	//updateJoblist();
	return false;
    });

</script>
<div class="jqmAlertLoading" id="jqmAlertLoading">
  <div class="jqmAlertWindowLoading">
    <div class="jqmAlertTitle clearfix">
      <h1>Please Wait...</h1>
    </div>
    <div align="center" class="jqmAlertContentLoading" id="jqmAlertContentLoading">
      <img src="/site_media/images/ajax-loader-big.gif" />
    </div>
  </div>
</div>
{% if jobs %}
  <h3>Running or finished jobs</h3>
  <table>
    <tr>
      <th style="border-bottom: 1px solid black;">Dataset name</th>
      <th style="border-bottom: 1px solid black;">Jobids on HPC</th>
      <th>
      </th>
    </tr>
    {% for jobds, jobids in jobs %}
      <tr>
	<td>{{ jobds.description }}</td><td>
	{% for jobid in jobids %}
	  {{ jobid }}{% if not forloop.last %}, {% endif %}
	{% endfor %}
      </td>
      <td>
	<a href="#" id="{% url tardis.apps.mrtardis.views.checkjobs jobds.id  %}" class="checkjob">
	Check/retrieve</a>
      </td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <h3>No active jobs on HPC</h3>
{% endif %}
