<script type="text/javascript" src="/site_media/js/jquery.formset.min.js"></script>
<script type="text/javascript">
<!--
$('.rmsd-form').formset({'addText':"Add another RMSD value"});
$("a[href=#submitToHPC]").click(function() {
    var formData = $("form#MRparams").serializeArray();
    $(".startMR").trigger("submitToHPC", [dataset_id, formData]);
});
//-->
</script>

<style type="text/css">
ul.errorlist li {
font-weight: bold;
color: red;
}
</style>

<p>
<b>MTZ File name:</b> {{ fileName }} <br/>
<b>Space group in MTZ file:</b> {{ spacegroupname }}<br/>
<b>PDB files to be used:</b> {{ pdbfilelist|join:", " }}
</p>
<form id="MRparams">
  <table>
    {{ paramForm }}
<tr><td colspan='2'>--- Add as many RMSD values as you like ---</td></tr>
    {% for form in rmsd_formset.forms %}
      <tr id="{{ form.prefix }}-row" class="rmsd-form">
	<th><label for="{{ form.prefix }}-rmsd">RMSD:</label></th>
	<td>{{ form.rmsd }}</td>
      </tr>
    {% endfor %}
  </table>
  {{ rmsd_formset.management_form }}
  <div>
    <a href="#submitToHPC"><b>Start MR</b></a>
  </div>
</form>
