<script type="text/javascript">
var dataset_id = -1;
$(document).ready(function() {
    $("a[href=#selectDataset]").click(function() {
	dataset_id = $("#id_dataset").val();
	//$("#selectedDataset").text($("#id_dataset :selected").text());
//	var loadNext = jQuery.Event("loadNext");
	$(".startMR").html("");
	$(".startMR").trigger("loadNext", ["upload", dataset_id]);
	//$("#chooseDataset").hide();
    });
    $("a[href=#createDataset]").click(function() {
//	$("#selectedDataset").text("ID: ");
	$.ajax({
	    type: "GET",
	    url: "/ajax/create_dataset/",
	    data: {
		'experiment_id': {{ experiment_id }},
		'description': $("#id_description").val(),
	    },
	    dataType: "json",
	    success: function(data) {
		dataset_id = data.dataset_id,
		$("#selectedDataset").text($("#id_description").val());
		console.log("before trigger");
		$(".startMR").trigger("loadNext", ["upload", dataset_id]);
		//$("#chooseDataset").hide();
	    }
	});
    });
});
</script>

<div id="chooseDataset">
<h3>Choose existing dataset</h3>
  <form id="datasetForm">

  {{ datasetForm }}
<a href="#selectDataset">Select</a>

</form>
<h3>or create a new one</h3>
<form id="createDSForm">
  {{ createForm }}
  <a href="#createDataset">Create</a>
</form>
</div>
