<script type="text/javascript">
$(document).ready(function() {
    console.log("loadinglist1");
    function loadExistingFiles() {
	$.ajax({
	    type: "GET",
	    url: "/ajax/datafile_list/" + {{ dataset_id }} + "/",
	    dataType: "html",
	    success: function(data) {
		console.log("loadinglist2");
		$("#existingFiles").html(data);
	    }
	});
    }
    loadExistingFiles();
    $.ajax({
	type: "GET",
	url: "/ajax/select_files/" + {{ dataset_id }},
	dataType: "html",
	success: function(data) {
	    $("#uploadButton").html(data);
	}
    });
    $("#uploadify").live("allUploadsComplete", function(e, data){
	// alert(data);
	var results = "<p>Successfully uploaded " +
	    data.filesUploaded + " files.</p>";
	$("#uploadResults").html(results);
	loadExistingFiles();

    });
    $("a[href=#enterParams]").live("click", function() {
	console.log("continuing");
	$(".startMR").trigger("loadNext", ["enterParams", {{dataset_id}}]);
    });

});
</script>
<div id="uploadContinue">
  {% if has_mtz_file or has_pdb_file %}
    <h3>You selected these files for the molecular replacement:</h3>
    {% if has_mtz_file %}
      <p><b>MTZ file:</b> {{ mtzfilename }}</p>
    {% else %}
      <h3>Please upload an MTZ file</h3>
    {% endif %}
    {% if has_pdb_file %}
      <p><b>PDB filenames:</b> {{ pdbfilenames|join:", " }}</p>
    {% else %}
      <h3>Please upload PDB files or a zip of pdb files.</h3>
    {% endif %}
  {% else %}
    <h3>Please upload an MTZ file and PDB files or a zip of pdb files.</h3>
  {% endif %}
  <p>Upload more files to dataset "<span id="selectedDataset">{{ dataset_name }}</span>" or continue if PDB and MTZ files are present already.</p>
  <p id="uploadOptions">
    <span id="uploadResults">
    </span>
    <span id="uploadButton">&nbsp;
    </span>
  {% if has_mtz_file and has_pdb_file %}
    <b><a href="#enterParams">Continue</a></b>
  {% endif %}
  </p>
  <p><b>Files already in dataset:</b><br/>
  <div id="existingFiles">
  </div>
  </p>
</div>
